// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#header {
	$white: rgba(white, .8);

	height: 100vh;
	min-height: 600px;
	text-align: center;
	background: url('../../images/lake-of-the-clouds.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
	@include flex(center, center, column);

	&:after {
		@include pseudo();
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(color.scale($teal, $lightness: -25%), .85);
	}

	@include h(1) {
		margin: 0;
		font-weight: bold;

		@include mq('sm') {
			font-size: 3.2rem;
		}
	}

	h2 {
		text-transform: uppercase;
		font-weight: lighter;
		margin: 0;
	}

	hr {
		background-color: $teal;
	}

	.top-border {
		height: 6px;
		background: url('../../images/top-border.jpg') repeat-x left center;
		width: 100%;
		z-index: +2;
		position: fixed;
		top: 0;
	}

	.heading {
		margin: auto;
		color: $white;
		position: relative;
		z-index: +1;
		@include flex(center, center, column);
		@extend .p-4;
	}

	nav#menu {
		font-size: 1rem;
		z-index: +1;
		width: 100%;
		background-color: rgba($teal, .6);

		&.sticky {
			background-color: rgba($teal, .92);
			top: 6px !important;

			a {
				color: rgba(white, .8);;
			}
		}

		* {
			transition: all ease-in-out 200ms;
		}
		
		ul {
			text-transform: uppercase;
			@include reset-list();
			@include flex(center, center, false, wrap);
			@extend .p-3;

			li {
				@extend .mx-2;

				&.active {

					a {
						
						&:after {
							background-color: $sunshine;
							width: 100%;
						}
					}
				}

				a {
					color: color.scale($teal, $lightness: 45%);
					text-decoration: none;

					@include on-event {
						text-decoration: none;
						color: rgba($white, .6);
					}

					&:after {
						@include pseudo(block, static);
						transition: 200ms all ease-in-out;
						width: 0;
						height: 2px;
					}
				}
			}
		}
	}
}