section {
  @extend .py-10;
}

section {

  h2 {
    @include heading-underline();
    @extend .mb-5;

    &:after {
      background-color: $salmon;
    }
  }
  
  &.alt {
    background-color: #eeeeee;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
  }
  
  &.skills {
    @extend .text-center;

    ul.inline-list {
      @include flex(center, center);
      @extend .mt-8;
      @extend .ml-auto;
      @extend .mr-auto;
      max-width: 900px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &.portfolio {

    ul.project-list {
      @extend .inline-list;
      @extend .text-center;
      @extend .fs-s;
      justify-content: center;

      li {
        @extend .p-1;
        border-radius: 100%;
        flex-basis: 18%;

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            p {
              color: $teal;
            }
          }
        }

        img {
          border-radius: 100%;
          box-shadow: 0 0 5px #cdcdcd;
        }
      }
    }
  }

  &.contact {
    @extend .fs-sm-xl;
    @extend .text-center;

    a {
      text-decoration: none;
    }
  }
}