section {
  @extend .py-10;
}

section {

  h2 {
    @include heading-underline();
    @extend .mb-5;

    &:after {
      background-color: $salmon;
    }
  }
  
  &.alt {
    background-color: #eeeeee;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
  }
  
  &.skills {
    @extend .text-center;

    ul.inline-list {
      @include flex(center, center);
      @extend .mt-8;
      @extend .ml-auto;
      @extend .mr-auto;
      max-width: 900px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &.contact {
    @extend .fs-sm-xl;
    @extend .text-center;

    a {
      text-decoration: none;
    }
  }
}